@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-toastify/dist/ReactToastify.css";

:root {
  --color-primary: #f00;
  --color-secondary: #0f0;
  --color-tertiary: #00f;
}

input {
  border-radius: 0.25rem;
}
